* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0%;
  gap: 10px;
}

#my-input {
  width: 333px;
  height: 30px;
  font-size: 20px;
}

.events {
  width: 333px;
  height: 34px;
  /* margin: 10px; */
  border: 1px solid #fe95bb;
  background-color: #f7e1e9;
  border-left: 0;
  display: flex;
  justify-content: space-around;
}
.event {
  width: 50%;
  padding: 5px;
  text-align: center;
  border-left: 1px solid #fe95bb;
}

.key {
  width: 43px;
  height: 43px;
  border: 1px solid #f7b0ca;
  background-color: #f7f3f4;
  border-radius: 3px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
}
#ArrowUp,
#ArrowLeft,
#ArrowDown,
#ArrowRight {
  height: 20px;
}

.function-keys {
  width: 700px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.main-keys {
  width: 700px;
  height: 300px;
}

#Backspace,
#Tab {
  width: 86px;
}

#CapsLock,
#Enter {
  width: 86px;
}

#ShiftLeft,
#ShiftRight {
  width: 110px;
}

#ControlLeft,
#ControlRight,
#AltLeft,
#AltRight,
#MetaLeft,
#MetaRight {
  width: 50px;
}

#Space {
  width: 284px;
}

/*함수 실행으로 만들어지는 class들*/
/*press*/
