@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ownglyph_meetme-Rg";
  font-size: 20px;
  background-color: #f7f3f4;
}
body {
  margin: 0%;
  gap: 10px;
}

#my-input {
  width: 333px;
  height: 30px;
  font-size: 18px;
}

.events {
  width: 333px;
  height: 34px;
  /* margin: 10px; */
  border: 1px solid #fe95bb;
  background-color: #f7e1e9;
  border-left: 0;
  display: flex;
  justify-content: space-around;
}
.event {
  width: 50%;
  padding: 5px;
  text-align: center;
  border-left: 1px solid #fe95bb;
}

.key {
  width: 43px;
  height: 43px;
  border: 1px solid #f7b0ca;
  background-color: #f7f3f4;
  border-radius: 3px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
}
#ArrowUp,
#ArrowLeft,
#ArrowDown,
#ArrowRight {
  height: 20.5px;
}

.function-keys {
  width: 700px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.main-keys {
  width: 700px;
  height: 300px;
}

#Backspace,
#Tab {
  width: 79px;
}

#CapsLock,
#Enter {
  width: 86px;
}

#ShiftLeft,
#ShiftRight {
  width: 110px;
}

#ControlLeft,
#ControlRight,
#AltLeft,
#AltRight,
#MetaLeft,
#MetaRight {
  width: 50px;
}

#Space {
  width: 284px;
}

/*함수 실행으로 만들어지는 class들*/
/* .check, .on*/

.check {
  color: white;
}

#keydown.check {
  background-color: rgb(0, 255, 170);
}
#keypress.check {
  background-color: rgb(138, 248, 211);
}
#keyup.check {
  background-color: rgb(215, 255, 242);
}

.on {
  color: white;
  background-color: #f73a7f;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
}
